In [1]:
import pandas as pd
import csv
import logging

In [2]:
from infraestructure.file_utils import detectFileExt
from domain.formatting_utils import column_names_formatting
from domain.info_utils import info_dataframe

In [3]:
logger = logging.getLogger(__name__)

In [4]:
# Bank dataframe
bank_file = 'bank-additional.csv'
df_bank = detectFileExt(bank_file)

In [5]:
df_bank = column_names_formatting(df_bank)
df_bank.head()

,unnamed: 0,age,job,marital,education,default,housing,loan,contact,duration,...,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y,date,latitude,longitude,id
0,0,NaN,housemaid,MARRIED,basic.4y,0.0,0.0,0.0,telephone,261,...,1.1,"93,994","-36,4","4,857",5191,no,2-agosto-2019,41.495,-71.233,089b39d8-e4d0-461b-87d4-814d71e0e079
1,1,57.0,services,MARRIED,high.school,NaN,0.0,0.0,telephone,149,...,1.1,"93,994","-36,4",NaN,5191,no,14-septiembre-2016,34.601,-83.923,e9d37224-cb6f-4942-98d7-46672963d097
2,2,37.0,services,MARRIED,high.school,0.0,1.0,0.0,telephone,226,...,1.1,"93,994","-36,4","4,857",5191,no,15-febrero-2019,34.939,-94.847,3f9f49b5-e410-4948-bf6e-f9244f04918b
3,3,40.0,admin.,MARRIED,basic.6y,0.0,0.0,0.0,telephone,151,...,1.1,"93,994","-36,4",NaN,5191,no,29-noviembre-2015,49.041,-70.308,9991fafb-4447-451a-8be2-b0df6098d13e
4,4,56.0,services,MARRIED,high.school,0.0,0.0,1.0,telephone,307,...,1.1,"93,994","-36,4",NaN,5191,no,29-enero-2017,38.033,-104.463,eca60b76-70b6-4077-80ba-bc52e8ebb0eb

In [6]:
int(df_bank["y"].notnull().sum())

43000

In [8]:
bank_info = info_dataframe(df_bank)

AttributeError: 'Series' object has no attribute 'null'

In [ ]:
print(bank_info)